/*colors*/
:root{
--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);



--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}


.rated-box{
    background-color:var(--Light-Grayish-Magenta);
    color:var(--Very-Dark-Magenta);}

.box{
    background-color: var(--Very-Dark-Magenta);
    color:var(--White);
}
span{
    color:var(--Soft-Pink)
}

.left-box-text{
    color:var(--Dark-Grayish-Magenta); 
}
*{
    margin:0;
    padding:0;
}


/*DEFAULT*/
body{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

main{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh; 
    margin: 30px;
}
/*ROW-ONE-CONTETNT*/

.row-one{

    display: flex;
    flex-direction:row;
    align-items: center;
}


/*ROW-ONE-left-content*/

.left-box{
    width: 50%;
}

.tittle{
    color: var(--Very-Dark-Magenta);
    font-size: 3rem;
    padding-bottom: 15px;
    width: 75%;
}




.left-box_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    

}



/*ROW-ONE-right-content*/


.right-box{
    width:          50%;
    display:        flex;
    flex-direction: row;
    justify-content: flex-end;
}

.rateds{
    width:          100%;
    display:        flex;
    flex-direction: column;
    padding-left: 20% ;
    
   
}

.rated-box{
    font-weight: 700;
    height: 50px;
    margin:10px;
    display: flex;
    align-items: center; 
    border-radius: 10px;
}


.stars ,.rated_text{
    padding: 0 20px;
    
}

.rated-one{
    display: flex;
    justify-content: flex-start;
}

.rated-two{
    display: flex;
    justify-content: center;
    
}

.rated-three{
    display: flex;
    justify-content: flex-end;
}

/*ROW-TWO-CONTENT*/


.row-two{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    width: 390px;
    height: 330px;
    padding-left: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}



h3{
    font-weight: normal;
    font-size: 15px;
}
.content{
    display: flex;
    align-items: center;
    width: 100%;
}

.content-profile-image{
    width: 50px;
    height: 50px;
}

.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
.content-text{
    width:150px;
    height: 40px;
    padding-left: 15px;
    line-height: 20px;
}

.box_text{
    height: 100px;
    line-height: 25px;
    padding-right: 58px;
}

.box-one{
    align-self: flex-start;
}

.box-two{
   align-self: center;
}

.box-three{
   align-self: flex-end; 
   
    
}

.row-one,.row-two{
    width: 90%;
}

@media (max-width:425px){


    main{
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center; 

    }
    .row-one{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
.left-box{
     width: 100vw;
    }

.left-box_content{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.right-box{
    width: 100%;
    margin-bottom: 30px;
}

    .tittle{
        text-align: center;
        width: 70%;
        max-height:25%;
        font-size: 1.875rem;
    }
    .left-box-text{
        max-height:25%;
        padding:0 10%;
        margin-bottom: 6%;
        text-align: center;
    }
 
    .rateds {
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .rated-box {
        width: 100%;
        height: 5rem;
        margin: 10px 0 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
    }
    .stars{
        padding-bottom:0.9375rem;
    }
    .row-two{
        width: 100vw;
        padding-bottom: 30px;
    }
    .rated-one,.rated-two,.rated-three{
        display: flex;
        justify-content: center;
    }
    .box {
        width:100%;
        height: 290px;
        padding: 0 1.5rem;
        margin-top:1rem;
    }
    .box_text{
        padding:0;
    }
}